<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<a href="/add">Add a Message</a><br/>
<table>
    <tr>
        <th>Sentby</th>
        <th>Posteddate</th>
        <th>Content</th>
    </tr>
    <tr th:each="message : ${messages}">
        <td th:text=" ${message.sentby}"></td>
        <td th:text=" ${message.posteddate}"></td>
        <td th:text=" ${message.content}"></td>
    </tr>
</table>


</body>
</html>